<div>
  <h4 class="title">Новый клиент</h4>
<%= form_for @user do |user| %>
  <% if params[:phone].present? %>
  <%= user.telephone_field :phone, value: params[:phone] %><br>
  <% else %>
  <%= user.telephone_field :phone, placeholder: "Телефон" %><br>
  <% end %>
  <%= user.text_field :firstname, placeholder: "Имя" %><br>
  <%= user.text_field :secondname, placeholder: "Фамилия" %><br>
  <%= user.email_field :email, placeholder: "Почта" %><br>
  <%= user.text_field :adress, placeholder: "Адрес"  %><br>
  <%= user.text_field :comment, placeholder: "Комментарий"  %><br>
  <%= user.submit "Сохранить" %><br>
<% end %>
</div>